<body>
    <div class="container principal">
		<div class="">
			<div class="col-lg-12 text-center">
	            <div class="row">
                    <!--tarjeta 1-->
	                <div class="col-lg-4 col-md-6 mb-4">
	                  	<div class="card-section border rounded p-3 mt-3">
                            <div>
                                <img src="{{img}}" alt="" class="card-body-img">
                            </div>
	                  		<div class="card-header-first rounded pb-5">
		                      	<h2 class="card-header-title text-black pt-3 "><strong>{{name}}</strong></h2>
                                <div class="row text-white">
                                    <div class="col-4">
                                        <span class="">{{type}}</span>
                                    </div> 
                                    <span class=" col-4 ">{{hp}} hp</span>
                                    <div class="col-4">
                                        <span class="">{{exp}} exp</span>
                                    </div>
                                </div>
                            </div>
	                    	<div class="card-body">
                                <ul ngbNav #nav="ngbNav"  class="nav-tabs">
                                    <li [ngbNavItem]="1">
                                      <a ngbNavLink>Basic</a>
                                      <ng-template ngbNavContent>
                                    
                                            <div class="row text-center">
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark ">Height: {{height}}</span>
                                                </h5>
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark ">Weight: {{weight}}</span>
                                                </h5>
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark ">Attack: {{ataque}}</span>
                                                </h5>
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark">Defense: {{defensa}}</span>
                                                </h5>
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark">Attack-Sp: {{especial}}</span>
                                                </h5>
                                                <h5 class="col-6">
                                                    <span class="badge bg-light text-dark">Speed: {{speed}}</span>
                                                </h5>
                                            </div>
                                       
                                      </ng-template>
                                    </li>
                                    <li [ngbNavItem]="2">
                                      <a ngbNavLink>Abilities</a>
                                      <ng-template ngbNavContent>
                                        <div class="row text-center">
                                            <h5 class="col-6" *ngFor="let ability of abilitis" >
                                                <span class="badge bg-light text-dark ">{{ability}}</span>
                                            </h5>
                                        </div>
                                      </ng-template>
                                    </li>
                                    <li [ngbNavItem]="3">
                                      <a ngbNavLink>Moves</a>
                                      <ng-template ngbNavContent>
                                        <div class="row text-center">
                                            <div class="scrool">
                                                <!-- <h5 class="col-6" *ngFor="let move of moves| slice:0:stop;" > -->
                                                <h5 class="" *ngFor="let move of moves" >
                                                    <span class="badge bg-light text-dark" >{{move}}</span>
                                                </h5>
                                            </div>
                                        </div>
                                        <!-- <div class="col-12">
                                            <button type="button" class="btn btn-light btn-sm col-6" (click)="mas(1)">+</button>
                                            <button type="button" class="btn btn-light btn-sm col-6" (click)="mas(2)">-</button>
                                        </div> -->
                                      </ng-template>
                                    </li>
                                  </ul>
                                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                            </div>
	                  	</div>
	                </div>
                    
	            </div>
			</div>
		</div>
	</div>
</body>
